</main>
<footer class="mt-auto bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>Cygnatrix IT Solutions</h5>
                <p class="text-white-50">Delivering next-gen IT solutions for a digital-first world. We innovate, you succeed.</p>
            </div>
            <div class="col-6 col-md-2 offset-md-1 mb-3">
                <h5>Quick Links</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="index.html" class="nav-link p-0 text-white-50">Home</a></li>
                    <li class="nav-item mb-2"><a href="about.html" class="nav-link p-0 text-white-50">About Us</a></li>
                    <li class="nav-item mb-2"><a href="services.html" class="nav-link p-0 text-white-50">Services</a></li>
                    <li class="nav-item mb-2"><a href="portfolio.html" class="nav-link p-0 text-white-50">Portfolio</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <h5>Services</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Cloud Solutions</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Cybersecurity</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Managed IT</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white-50">Web Development</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5>Contact Us</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2 text-white-50">Kolkata, West Bengal</li>
                    <li class="nav-item mb-2 text-white-50">support@cygnatrix.com</li>
                    <li class="nav-item mb-2 text-white-50">+91 73847 83884</li>
                </ul>
            </div>
        </div>
        <div class="d-flex justify-content-between py-4 my-4 border-top">
            <p class="text-white-50">&copy; <?php echo date('Y'); ?> Cygnatrix IT Solutions. All rights reserved.</p>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="js/main.js"></script>
</body>
</html>